## --- Environment variable --- ##
ENV=LOCAL
DEBUG=false
# TZ=Asia/Seoul
# PYTHONDONTWRITEBYTECODE=1


## -- API configs -- ##
BV_CHALLENGE_API_PORT=10001
# BV_CHALLENGE_API_CONFIGS_DIR="/etc/rest-bv-challenge"
# BV_CHALLENGE_API_LOGS_DIR="/var/log/rest-bv-challenge"
# BV_CHALLENGE_API_DATA_DIR="/var/lib/rest-bv-challenge"
# BV_CHALLENGE_API_TMP_DIR="/tmp/rest-bv-challenge"
# BV_CHALLENGE_API_VERSION="1"
# BV_CHALLENGE_API_PREFIX=""
# BV_CHALLENGE_API_DOCS_ENABLED=true
# BV_CHALLENGE_API_DOCS_OPENAPI_URL="{api_prefix}/openapi.json"
# BV_CHALLENGE_API_DOCS_DOCS_URL="{api_prefix}/docs"
# BV_CHALLENGE_API_DOCS_REDOC_URL="{api_prefix}/redoc"

## -- Simple bot service configs -- ##
SIMPLE_BOT_FRONTEND_PUBLIC_PORT=5173
SIMPLE_BOT_BACKEND_PUBLIC_PORT=4000
SIMPLE_BOT_FRONTEND_PROXY_PORT=5173
SIMPLE_BOT_BACKEND_PROXY_PORT=4000
# SIMPLE_BOT_BROWSER_BACKEND_URL="http://localhost:4000"
# SIMPLE_BOT_GOOGLE_APPLICATION_CREDENTIALS="/app/key/service-account.json"
# SIMPLE_BOT_BQ_PROJECT_ID="innerworks-qa"
# SIMPLE_BOT_BQ_DATASET="qa_innerworks_userdata"
# SIMPLE_BOT_BQ_TABLE="dev_inference_result"
