## --- Environment variable --- ##
ENV=LOCAL
DEBUG=false
# TZ=Asia/Seoul
# PYTHONDONTWRITEBYTECODE=1


## -- API configs -- ##
BV_CHALLENGE_API_PORT=10001
# BV_CHALLENGE_API_CONFIGS_DIR="/etc/rest-bv-challenge"
# BV_CHALLENGE_API_LOGS_DIR="/var/log/rest-bv-challenge"
# BV_CHALLENGE_API_DATA_DIR="/var/lib/rest-bv-challenge"
# BV_CHALLENGE_API_TMP_DIR="/tmp/rest-bv-challenge"
# BV_CHALLENGE_API_VERSION="1"
# BV_CHALLENGE_API_PREFIX=""
# BV_CHALLENGE_API_DOCS_ENABLED=true
# BV_CHALLENGE_API_DOCS_OPENAPI_URL="{api_prefix}/openapi.json"
# BV_CHALLENGE_API_DOCS_DOCS_URL="{api_prefix}/docs"
# BV_CHALLENGE_API_DOCS_REDOC_URL="{api_prefix}/redoc"

## -- MDM challenge / Simple Bot configs -- ##
CHALLENGE_HTTPS_PROXY_PORT=10443
MDM_CHALLENGE_BASE_URL="http://challenge-api:10001"
# MDM_CHALLENGE_SIMPLE_BOT_URL="https://simplebot.theredteam.io"
# MDM_CHALLENGE_BOT_DIR="/app/rest.vm-runner/bot"
# MDM_CHALLENGE_SIMPLE_BOT_NETWORK_NAME="bot-simple-network"
# MDM_CHALLENGE_CHALLENGE_NETWORK_NAME="bot-challenge-network"
# MDM_CHALLENGE_MINER_IMAGE_TAG="redteamsubnet/bv-miner:latest"
# MDM_CHALLENGE_SIMPLE_BOT_POLL_MAX_ATTEMPTS=5
# MDM_CHALLENGE_SIMPLE_BOT_POLL_INTERVAL_SEC=2
