[submodule "src/modules/bv-bot-runner"]
	path = src/modules/bv-bot-runner
	url = https://github.com/RedTeamSubnet/rest-bv-bot-executer.git
[submodule "src/modules/rt_score"]
	path = src/modules/rt_score
	url = https://github.com/RedTeamSubnet/module-rt-score.git
[submodule "src/modules/rt_frontend"]
	path = src/modules/rt_frontend
	url = https://github.com/RedTeamSubnet/web-rt-hb-login-page.git
	branch = bt-1
